.reviews-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
}

.reviews-left h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.reviews-left .subtitle {
   /* color: #ffffff;*/
    font-size: 18px;
    margin-bottom: 40px;
}