.review-card {
    background: #00ff66;
    border-radius: 15px;
    padding: 18px 22px;
    color: black;
    /*font-size: 16px;*/
    max-width: 420px;
}

.review-card h4 {
    margin: 0 0 5px;
    font-size: 17px;
    font-weight: bold;
}
.review-card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

    .review-card.hidden {
        display: none;
        opacity: 0;
        transition: opacity 0.4s;
    }

    .review-card.show {
        display: block;
        opacity: 1;
    }