@import url(blocks/about/about.css);
@import url(blocks/about/about__image.css);
@import url(blocks/about/about__subtitle.css);
@import url(blocks/about/about__text.css);
@import url(blocks/about/about__title.css);
@import url(blocks/about/about__top.css);
@import url(blocks/articles/articles.css);
@import url(blocks/articles/article__back-link.css);
@import url(blocks/articles/article__container.css);
@import url(blocks/articles/article__image.css);
@import url(blocks/articles/article__list.css);
@import url(blocks/articles/article__subtitle.css);
@import url(blocks/articles/article__table.css);
@import url(blocks/articles/article__text.css);
@import url(blocks/articles/article__title.css);
@import url(blocks/articles/articles__btn.css);
@import url(blocks/articles/articles__item.css);
@import url(blocks/burger/burger.css);
@import url(blocks/burger/burger__line.css);
@import url(blocks/burger/mobile-menu.css);
@import url(blocks/card/card.css);
@import url(blocks/card/calc-btn.css);
@import url(blocks/checkboxes/checkboxes.css);
@import url(blocks/checkboxes/checkbox-item.css);
@import url(blocks/contact/contact.css);
@import url(blocks/contact/contact__container.css);
@import url(blocks/contact/contact__form.css);
@import url(blocks/contact/contact__map.css);
@import url(blocks/contact/contact__phone.css);
@import url(blocks/footer/footer.css);
@import url(blocks/header/header.css);
@import url(blocks/header/header__logo.css);
@import url(blocks/modal/modal.css);
@import url(blocks/modal/modal-content.css);
@import url(blocks/nav/nav.css);
@import url(blocks/nav/nav__link.css);
@import url(blocks/page/page.css);
@import url(blocks/price/price.css);
@import url(blocks/result/result.css);
@import url(blocks/result/result-block.css);
@import url(blocks/reviews/reviews.css);
@import url(blocks/reviews/reviews-right.css);
@import url(blocks/reviews/reviews-left.css);
@import url(blocks/reviews/review-card.css);
@import url(blocks/reviews/review-avatar.css);
@import url(blocks/reviews/read-all.css);
@import url(blocks/services/services.css);
