.header__logo {
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: normal;
    font-size: 34px;
    font-family: "Island Moments", cursive;
    letter-spacing: 1px;
}
