.burger__line  {
    width: 100%;
    height: 4px;
    background: #00ff66;
    transition: 0.3s;
}

/* ---------- BURGER ANIMATION ---------- */
.burger--active .burger__line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}
.burger--active .burger__line:nth-child(2) {
    opacity: 0;
}
.burger--active .burger__line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -7px);
}