.checkbox-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 4px;
    cursor: pointer;
    font-size: 18px;
}

.checkbox-item input {
    width: 10px;
    height: 10px;
}