.article__table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
        background: rgba(255,255,255,0.1);
    }

.article__table th,
.article__table td {
        padding: 10px;
        border-bottom: 1px solid #ffffff33;
        color: #ffffff;
    }