.contact__map {
    width: 100%;
    height: 300px;
    background: #E6E6E6;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 20px;
}